<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />

    <queries>
        <package android:name="com.spotify.music" />
    </queries>

    <application
        android:name=".QrSpotifyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QRSpotify"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".duel.DuelWinnerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".duel.DuelGameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".duel.DuelSetupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.renelebak.ReneLeBakActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.answer.AnswerActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.classic.ClassicModeChoiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.practice.PracticeRoundActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.practice.PracticeCategoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.nowplaying.NowPlayingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.scanner.ScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QRSpotify.Startup">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="spotify-auth-callback"
                    android:scheme="qrspotify" />
            </intent-filter>
        </activity>
    </application>

</manifest>
